<header>
    {{#link-to 'foodDays'}}Days{{/link-to}}
    {{#link-to 'foodDay' model.foodDay}}{{model.foodDay.localDate}}{{/link-to}}
    {{#link-to 'foodDay.foodDayItems.new'}}Add New Item{{/link-to}}
</header>
<section id="foodDayItemsSection">
    <ul id="items-list">
        {{#each model as |foodDayItem|}}
        <hr/>
        <li>
            <dl>
                <dt>Description</dt>
                <dd>{{foodDayItem.foodDescription}}</dd>
                <dt>Meal</dt>
                <dd>{{foodDayItem.meal}}</dd>
                <dt>Calories</dt>
                <dd>{{foodDayItem.calories}}</dd>
            </dl>
        </li>
        {{else}}
            <span>No data to display</span>
        {{/each}}
        <hr/>
    </ul>
</section>