<header>
    {{#link-to 'foodDay.foodDayItems'}}Cancel{{/link-to}}
</header>
<section id="foodDayItemNewSection">
    {{input type="text" id="new-desc" placeholder="Description?" value=newDescription}}
    {{input type="text" id="new-meal" placeholder="Meal?" value=newMeal}}
    {{input type="text" id="new-cals" placeholder="Calories?" value=newCalories}}
    <button {{action 'createFoodDayItem'}}>Submit</button>
    <hr/>
    <dl>
        <dt>Calorie Calculation Helper</dt>
        <dd></dd>
        <dt>Cals Per Serving:</dt>
        <dd>{{input type="text" id="calsPerServing" placeholder="(e.g.) 100" value=calsPerServingVal}}</dd>
        <dt>Servings:</dt>
        <dd>{{input type="text" id="servings" placeholder="Default: 1.0" value=servingsVal}}</dd>
        <dt></dt>
        <dd><button id="calsHelper" {{action 'calsHelper'}}>Add To Calories</button></dd>
    </dl>
</section>